[submodule "Fountainhead/vendor/spdlog"]
	path = Fountainhead/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Fountainhead/vendor/GLFW"]
	path = Fountainhead/vendor/GLFW
	url = https://github.com/TheCherno/glfw
